/* Ponr de color rojo  si (a tocado el campo y el valor es invalido)*/

input.ng-invalid.ng-touched {
    border: solid 2px rgb(187, 59, 59);
    border-radius: 20px;
    font-family: Monaco;
    font: size 14px;
}

select.ng-invalid.ng-touched {
    border: solid 2px rgb(187, 59, 59);
    border-radius: 20px;
    font-family: Monaco;
    font: size 14px;
}


/* si el valor es valido ponder en verde  */

input.ng-valid {
    border: solid 2px rgb(114, 179, 84);
    border-radius: 20px;
    font-family: Monaco;
    font: size 14px;
}

select.ng-valid {
    border: solid 2px rgb(114, 179, 84);
    border-radius: 20px;
    font-family: Monaco;
    font: size 14px;
}

small {
    color: red;
    font-family: Monaco;
    font: size 14px;
}