<app-header></app-header>
<div class="container p-3">
    <form [formGroup]="formLogup" (submit)="get_data()" errorTailor>
        <legend>Registro</legend>
        Valido:{{formLogup.valid}}
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">assignment_ind</i></span>
                    </div>
                    <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">brightness_1</i></span>
                    </div>
                    <input formControlName="apellido" type="text" class="form-control" id="apellido" placeholder="Apellido">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Correo</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">contact_mail</i></span>
                    </div>
                    <input formControlName="email" type="text" class="form-control" placeholder="email@example.com" [controlErrorsTpl]="emailError">
                </div>
                {{formLogup.get("email").errors|json}}
            </div>
        </div>

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Cedula</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">email</i></span>
                    </div>
                    <input formControlName="cedula" type="text" class="form-control" placeholder="Cedula" [controlErrorsTpl]="cedulaErr">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Nombre Usuario</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">account_circle</i></span>
                    </div>
                    <input formControlName="nombreUsuario" type="text" class="form-control" placeholder="Nombre usuario">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Contraseña</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">https</i></span>
                    </div>
                    <input formControlName="password" type="password" id="password" class="form-control" placeholder="contraseña" [controlErrorsTpl]="passwordError">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Telefono</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">contact_phone</i></span>
                    </div>
                    <input formControlName="telefono" type="text" class="form-control" placeholder="Telefono">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Direccion</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">person_pin_circle</i></span>
                    </div>
                    <input formControlName="direccion" type="text" class="form-control" placeholder="Direccion">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Fecha</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">date_range</i></span>
                    </div>
                    <input formControlName="fecha" type="text" class="form-control" placeholder="">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Codigo Postal</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">redeem</i></span>
                    </div>
                    <input formControlName="codigoPostal" type="text" class="form-control" placeholder="Cod: Postal">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Tipo de sangre</label>
            <div class="col-sm-10">
                <div class="form-group">
                    <select formControlName="tipoSangre" class="form-control">
                      <option value="O-">O negativo</option>
                      <option value="O+">O positivo</option>
                      <option value="A-">A negativo</option>
                      <option value="A+">A positivo</option>
                      <option value="B-">B negativo</option>
                      <option value="B+">B positivo</option>
                      <option value="AB-">AB negativo</option>
                      <option value="AB+">AB positivo</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Genero</label>
            <div class="col-sm-10">
                <div class="form-group">
                    <select formControlName="genero" class="form-control">
                      <option value="masculino" >Masculino</option>
                      <option  vcalue="femenino" >Femenino</option>
                      <option vcalue="Otro">Otro</option>
                      <option vcalue="No">Prefiero no decirlo</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Marca de celular</label>
            <div class="col-sm-10">
                <select formControlName="celular" class="form-control">
                    <option value="sansung">Sansung</option>
                    <option value="nokia">Nokia</option>
                    <option value="xiaomi">Xiaomi</option>
                    <option value="huawei">Huawei</option>
                    <option value="lg">LG</option>
                    <option value="apple">Apple</option>
                  </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Oficio</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">work</i></span>
                    </div>
                    <input formControlName="oficio" type="text" class="form-control" placeholder="Oficio">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Etnia</label>
            <div class="col-sm-10">
                <select formControlName="etnia" class="form-control">
                    <option value="mestizo">Mestizo</option>
                    <option value="mulato">Mulato</option>
                    <option value="afro">Afro americano</option>
                    <option value="Blanco">Blanco</option>
                    <option value="otro">Otro</option>
                  </select>
            </div>
        </div>

        <!-- <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Region favorita</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">vpn_lock</i></span>
                    </div>

                    <div class="form-group">

                        <select class="form-control" id="exampleSelect1">
                      <option>Europa</option>
                      <option>Asia</option>
                      <option>America</option>
                      <option>Africa</option>
                    </select>
                    </div>
                </div>
            </div>
        </div> -->

        <button [disabled]="formLogup.invalid" type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
<app-footer></app-footer>
<!-- tempaltes para lso erores -->
<ng-template let-error let-text="text" #passwordError>
    <div *ngIf="error?.minlength">
        <i>La contraseña debe tener almenos ({{error?.minlength?.requiredLength}}), caracteres</i>
    </div>
</ng-template>

<ng-template let-error let-text="text" #cedulaErr>
    {{error|json}} {{text}}
</ng-template>

<ng-template let-error let-text="text" #emailError>
    {{error|json}} {{text}}
</ng-template>


<ng-template let-error let-text="text" #messagePasswordError>
    <!--  {{ error | json }} {{ text }}-->
    <span class="control-error">Error:</span>
    <div *ngIf="error?.minlength">
        <i>No cumples con los caracteres minimos que son ({{error?.minlength?.requiredLength}}), ingresaste solo: {{error?.minlength?.actualLength}}</i>
    </div>
</ng-template>