<app-header></app-header>
<div class="container p-6">

    <form>
        <br><br>
        <div align="center">

            <h2>Sistema de autentificación</h2>
            <p>
                El sistema busca verificar la <strong> identidad verdadera </strong>del cliente con el fin de evitar posibles problemas o hurto de la cuenta.
            </p>

            <p class="text-muted">Porfavor seleccione un continente acorde a su gusto </p>
            <p class="text-muted">Recuerde que debe acordarse de la región que usted a elegido para su siguiente inicio de sesión </p>
            <legend>Mapa general del mundo</legend>
            <div class="content">
                <img src="../../../assets/imagenes/mapa.png" width=500 height=200>
            </div>
            <br>
            <div>
                <table class="table table-striped">
                    <tr>
                        <td (click)="manadarDatos(0)"><img src="../../../assets/imagenes/reg0.png" width=70 height=50></td>
                        <td (click)="manadarDatos(1)"><img src="../../../assets/imagenes/reg1.png" width=70 height=50></td>
                        <td (click)="manadarDatos(2)"><img src="../../../assets/imagenes/reg2.png" width=70 height=50></td>
                        <td (click)="manadarDatos(3)"><img src="../../../assets/imagenes/reg3.png" width=70 height=50></td>
                        <td (click)="manadarDatos(4)"><img src="../../../assets/imagenes/reg4.png" width=70 height=50></td>
                        <td (click)="manadarDatos(5)"><img src="../../../assets/imagenes/reg5.png" width=70 height=50></td>
                    </tr>
                    <tr>
                        <td>America del norte</td>
                        <td>America del sur</td>
                        <td>Asia</td>
                        <td>Europa</td>
                        <td>Africa</td>
                        <td>Oceania</td>
                    </tr>
                </table>
            </div>
            <div class="container">
                <legend>Region Seleccionada</legend>
                <br>
                <img src="../../../assets/imagenes/reg{{region}}.png" width=120 height=100>
            </div>
        </div>
        <br>
        <div align="right">
            <button type="button" class="btn btn-primary" (click)="mandaAPP()">Enviar</button>
            <!-- <a href="login">Next</a> -->
        </div>
    </form>
    <!-- El sistema busca verificar la identidad verdadera de nuestro cliente con el fin de evitar posibles problemas -->
    <!-- login#home -->
    <br>

</div>

<app-footer></app-footer>