/* Ponr de color rojo  si (a tocado el campo y el valor es invalido)*/

input.ng-invalid.ng-touched {
    border: solid 2px rgb(187, 59, 59);
    border-radius: 20px;
    font-family: Monaco;
    font: size 14px;
}

select.ng-invalid.ng-touched {
    border: solid 2px rgb(187, 59, 59);
    border-radius: 20px;
    font-family: Monaco;
    font: size 14px;
}


/* si el valor es valido ponder en verde  */

input.ng-valid {
    border: solid 2px rgb(114, 179, 84);
    border-radius: 20px;
    font-family: Monaco;
    font: size 14px;
}

select.ng-valid {
    border: solid 2px rgb(114, 179, 84);
    border-radius: 20px;
    font-family: Monaco;
    font: size 14px;
}


/* //////// */


.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.pulse {
  --color: #000000;
  --hover: #000000;
}







